/*
  Default Icomoon setup.
  Use the document 'selection.json' in the map /fonts to change the collection via https://icomoon.io/app
  Copy only the specific icon-classes from the download to this document.
*/

@font-face {
    font-family: 'icomoon';
    src:  url('./fonts/icomoon.eot?jicm3c');
    src:  url('./fonts/icomoon.eot?jicm3c#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?jicm3c') format('truetype'),
    url('./fonts/icomoon.woff?jicm3c') format('woff'),
    url('./fonts/icomoon.svg?jicm3c#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@mixin icomoonPrototype(){
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] {
    @include icomoonPrototype();
}

.icon-close:before {
    content: "\e903";
    color: #999;
}
.icon-arrow-simple-right:before {
    content: "\e901";
}
.icon-arrow-right:before {
    content: "\e902";
}
.icon-logo-am:before {
    content: "\e900";
}