* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

body {
    overflow-x: hidden;
}


ul {
    margin: 0;

    li {
        padding: 0;
    }
}


img {
    max-width: 100%;
    height: auto;
    display: block;
}


figure {
    margin: 0;
}


button {
    appearance: none;
    background: none;
    padding: 0;
    outline: none;
    border: 0;
    cursor: pointer;
}

:focus {
    outline: none;
}

:focus-visible {
    @include focus-box-shadow($color-main);
}

