.hsize1-xl {
    font-size: $f72;
    //line-height: 1.2;
    font-weight: $font-weight-bold;
}
.hsize1-lg {
    font-size: $f26;
    //line-height: 1.12;
    font-weight: $font-weight-bold;
    line-height: 1.33;
    @media(min-width:768px){ 
        font-size: $f48;
    }
}
.hsize1-md{
    font-size: $f32;
   line-height: 1.35;
    font-weight: $font-weight-bold;
    @media(min-width:768px){ 
        font-size: $f40;
    }
}
.hsize1-sm{
    font-size: $f24;
    //line-height: 1.72;
    font-weight: 700;
    line-height: 1.45;
    @media(min-width:768px){ 
        font-size: $f28;
    }
}
.hsize1-s{
    font-size: $f24;
    line-height: 1.33;
    font-weight: 600;
}
.hsize1-xs{
    font-size: $f20;
    //line-height: 1.72;
    font-weight: 500;
}
.hsize48{
    font-size: $f24;
    //line-height: 1.72;
    font-weight: 800;
    @media(min-width:768px){ 
        font-size: $f48;
    }
}