@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");
// @import url("https://use.typekit.net/iiy7pij.css");

html,
body{
    // color: $black;
    font-size: $default-font-size;
    // line-height: 1;
    // font-family:"usual";
    // font-weight: 400;
} 

.header, .footer {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        @media (max-width:1400px) {
            max-width: 100%;    
        }
    }
}
p,
.p p {
    font-size: $f16;
    font-weight: 400;
    line-height: 1.62;
}
.p-18, 
.p-18 p {
    font-size: $f18;
    font-weight: 400;
    line-height: 1.62;
}

.footer, .header, section {
    @media (min-width: 1200px) {
        padding-left: 8rem!important;
        padding-right: 8rem!important;
        &.no-gutter {
            padding-left: 0!important;
            padding-right: 0!important;
        }
    }
}