// Transition
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}
// Generic transform
@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
	-webkit-transform: $transforms;
    transform: $transforms;
}
// Rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
// Scale
@mixin scale($scale) {
	@include transform(scale($scale));
} 
// Translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// Skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
// Transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
    -o-transform-origin: $origin;
    -ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
    transform-origin: $origin;
}
// Transition-timing-function
@mixin transition-timing-function ($origin) {
    moz-transition-timing-function: $origin;
    -o-transition-timing-function: $origin;
    -ms-transition-timing-function: $origin;
	-webkit-transition-timing-function: $origin;
    transition-timing-function: $origin;
}
// Transition-delay
@mixin transition-delay ($origin) {
    moz-transition-delay: $origin;
    -o-transition-delay: $origin;
    -ms-transition-delay: $origin;
	-webkit-transition-delay: $origin;
    transition-delay: $origin;
}


/*
    Element centering
*/

// Centers an element
@mixin center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


// Centers an element vertically
@mixin center-absolute-Y {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


// Centers an element horizontally
@mixin center-absolute-X {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


// Center block
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*
    Overlays and backgrounds
*/

// Background image style
@mixin background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

// Places an overlay over the element. Fills the whole element.
@mixin coloroverlay($color, $opacity: .4){
    position: relative;

    &:before{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $color;
        opacity: $opacity;
        z-index: -1;
    }
}

// Fills background outside bootstrap container
@mixin full-width-background($color: $color-main) {
    position: relative;
    z-index: 0;

    &:before {
        content: '';
        @include center-absolute-X;
        top: 0;
        bottom: 0;
        width: 100vw;
        background-color: $color;
        z-index: -1;
    }
}

// Stretch an absolute item from top to bottom, left to right
@mixin fill-absolute-item {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}


/*
    Accessibility
*/

// Hides element visually but still readable by screenreaders
@mixin visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;

    &.focusable {
        &:focus {
            position: relative;
            overflow: visible;
            clip: auto;
            width: auto;
            height: auto;
            z-index: 9999;
        }
    }
}

// Focus box-shadow for accessibility
@mixin focus-box-shadow($color) {
    box-shadow: 0 0 0 $btn-focus-width rgba(mix(color-yiq($color), $color, 15%), .5);
}

// Accessibility icons
@mixin icon($icon-name: 'arrow-right', $icon-size: 1em, $icon-color: $color-main) {
    content: '';
    mask: url('../images/icons/#{$icon-name}.svg') no-repeat 50% 50%;
    mask-size: contain;
    mask-position: right;
    display: inline-block;
    height: $icon-size;
    width: $icon-size;
    background-color: $icon-color;
    transition: $transition-hover;
}


/*
    Extra
*/

@mixin break-text {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}