//Font weights
$font-weight-normal:  400;
// $font-weight-bold:    700;
$font-weight-bold:  800;

//Fonts
// $font-family-base:    Verdana, Arial, sans-serif;
$font-family-base:   "Inter",Arial, sans-serif;
$font-family-titles:  $font-family-base;
$line-height-base:    1.7;
$font-weight-base:    $font-weight-normal;

//Colors
$color-main:                    #FFFFFF;
$color-secondary:               #F22BB2;
$color-background:              #2EC5CE;
$color-footer:                  #0B0D17;
$color-white:                   #FFFFFF;
$color-light-green:             #C1E5C0;
$color-green:                   #2EC5CE;
$color-black:                   #0B0D17;
$color-text:                    $color-background;



// Theme colors for Bootstrap
$theme-colors: ();
$theme-colors: map-merge(
    (
        "primary":    $color-main,
        "secondary":  $color-secondary,
        "success":    $color-main,
        "info":       $color-main,
        "warning":    $color-main,
        "danger":     $color-main,
        "light":      $color-main,
        "dark":       $color-main
    ),
    $theme-colors
);

// Transitions
$transition-hover: all 0.1s ease-in-out;


// Bootstrap grid
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1380px
);
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
);

// Margins/Paddings
$paragraph-margin-bottom:   2rem;
$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
                (
                        0: 0,
                        1: ($spacer * .25),
                        2: ($spacer * .5),
                        3: $spacer,
                        4: ($spacer * 1.5),
                        5: ($spacer * 2),
                        6: ($spacer * 3),
                        7: ($spacer * 4),
                        8: ($spacer * 4.5)
                ),
                $spacers
);

// Button styling
$btn-padding-y:         0.5rem;
$btn-padding-x:         1.375rem;
$btn-border-radius:     0;
$btn-font-size:         inherit;
$btn-line-height:       2.11;
$btn-transition:        color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
$btn-disabled-opacity:  .65;

// Input styling
$input-padding-y:         0.375rem;
$input-padding-x:         1rem;
$input-border-width:      1px;
$input-height-border:     $input-border-width * 2;
$input-line-height:       $line-height-base;
$input-border-color:      $color-main;
$input-border-radius:     0.25rem;
$input-font-size:         1em;
$input-placeholder-color: $color-text;


//...............................
$primary : #8C30F5;
$text-white: #ffffff;
// $black: #000000;
// $light-blue: #9BCAE2;
// $lighter-blue: #F6F9FB;
// $grey: #C3C3C3;
// $dark-blue: #0D3346;
$text-black: #18191F;
$purple: #D6B1FF;


//default font-size
$default-font-size: 16;

//font-sizes 
$f12: #{12/$default-font-size}rem;             
$f13: #{13/$default-font-size}rem;   
$f14: #{14/$default-font-size}rem;
$f15: #{15/$default-font-size}rem;  
$f16: #{16/$default-font-size}rem;  
$f17: #{17/$default-font-size}rem;        
$f18: #{18/$default-font-size}rem;         
$f19: #{19/$default-font-size}rem;                            
$f20: #{20/$default-font-size}rem;                            
$f22: #{22/$default-font-size}rem;                            
$f23: #{23/$default-font-size}rem;                            
$f24: #{24/$default-font-size}rem;                             
$f25: #{25/$default-font-size}rem;
$f26: #{26/$default-font-size}rem;
$f27: #{27/$default-font-size}rem;                              
$f28: #{28/$default-font-size}rem;              
$f29: #{29/$default-font-size}rem;   
$f30: #{30/$default-font-size}rem;              
$f32: #{32/$default-font-size}rem;                
$f36: #{36/$default-font-size}rem;                
$f38: #{38/$default-font-size}rem;  
$f35: #{35/$default-font-size}rem;  
$f37: #{35/$default-font-size}rem;                 
$f39: #{39/$default-font-size}rem; 
$f40: #{40/$default-font-size}rem;              
$f41: #{41/$default-font-size}rem;                 
$f46: #{46/$default-font-size}rem;               
$f48: #{48/$default-font-size}rem;             
$f50: #{50/$default-font-size}rem;              
$f52: #{52/$default-font-size}rem;               
$f56: #{56/$default-font-size}rem;                
$f58: #{58/$default-font-size}rem;                 
$f60: #{60/$default-font-size}rem;                   
$f65: #{65/$default-font-size}rem;                    
$f68: #{68/$default-font-size}rem;             
$f72: #{72/$default-font-size}rem;          
$f80: #{80/$default-font-size}rem;           
$f81: #{81/$default-font-size}rem;          
$f108: #{108/$default-font-size}rem; 