.button {
    font-weight: 700;
    font-size: $f18;
    color: $black;
    display: inline-block;
    margin-bottom: 1.3rem;
    position: relative;
    padding: .5rem 0;
    @include transition(.3s ease-in-out);
    &::after {
        @include transition(.3s ease-in-out);
        content: "";
        display: inline-block;
        width: 3rem;
        height: 1rem;
        vertical-align: bottom;
        background: url("assets/images/arrow.svg");
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 0.5rem;
    }
    &:hover {
        color: $primary;
        text-decoration: none;
        @include transition(.3s ease-in-out);
        &::after {
            margin-left: 1.2rem;
            @include transition(.3s ease-in-out);
        }
    }
    &--arrow-white {
        &::after {
            background: url("assets/images/arrow-white.svg");
            background-repeat: no-repeat;
            background-size: contain;
        }
        &:hover {
            color: $text-white;
            text-decoration: none;
        }
    }
    &--arrow {
        &::after {
            background: url("assets/images/arrow-small-orange.svg");
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    &--arrow-long {
        &::after {
            background: url("assets/images/arrow-long.svg");
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    &--white {
        color: $text-white;
        &::after {
            background: url("assets/images/arrow-white.svg");
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    &--black {
        &::after {
            background: url("assets/images/arrow-black.svg");
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    &--round {
        font-family:"quasimoda";
        background: $text-white;
        padding: 0.8rem 2.3rem 0.8rem 1rem;
        border-radius: 40px;
        background: linear-gradient(to right, $black 50%, $text-white 50%);
        background-size: 201% 101%;
        background-position: right bottom;
        position: relative;
        letter-spacing: -0.35px;
        &::after {
            background: url("assets/images/arrow-small.svg");
            background-repeat: no-repeat;
            background-size: contain;
            vertical-align: text-top;
            position: absolute;
            top: 10px;
        }
        &:hover {
            background-position: left bottom;
            padding: 0.8rem 3.2rem 0.8rem 1rem;
        }
    }
    &--orange {
        font-family:"quasimoda";
        background: $primary;
        padding: 0.8rem 5.9rem 0.8rem 1.6rem;
        border-radius: 40px;
        background: linear-gradient(to right, $black 50%, $primary 50%);
        background-size: 201% 101%;
        background-position: right bottom;
        &::after {
            background: url("assets/images/arrow-small-white.svg");
            background-repeat: no-repeat;
            background-size: contain;
            vertical-align: text-top;
            position: absolute;
            top: 10px;
            margin-left: 4rem;
            margin-left: 4rem;
        }
        &:hover {
            padding: 0.8rem 6.6rem 0.8rem 1.6rem;
            color: $text-white;
            text-decoration: none;
            background-position: left bottom;
            &::after {
                margin-left: 4.5rem;
            }
        } 
    }
}
.gform_button {
    font-weight: 700;
    font-size: $f18 !important;
    color: $text-white;
    font-family: 'usual';
    opacity: 0; 
    z-index: 2;
    padding: .2rem 1.8rem;
    background: $color-background;
    border: none;
    width: unset !important;
}