.btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: $font-family-base;
    font-weight: $font-weight-bold;
    color: $color-white;
    text-align: center;
    text-decoration: none;
    white-space: normal;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: none;
    border-radius: $btn-border-radius;
    padding: $btn-padding-y $btn-padding-x;
    transition: $transition-hover;

    @include media-breakpoint-down(sm) {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        font-size: 1rem;
    }
}