.form {
    position: relative;
    &__content {
        input[type=text], input[type=email]{
            border: none;
            border-radius: 0;
            font-size: $f16 !important;
            font-weight: 400;
            line-height: 1 !important;
            background-color: $text-white;
            margin-bottom: .6rem;
            padding: 1.4rem 1.8rem !important;
            @media (max-width: 641px) {
                padding: .8rem 1rem !important;
            }
            outline: none;
            color: $color-black;
            &::placeholder{
                color: $color-grey;
            }
            &:focus{
                color: $color-black;
            }
		}
        textarea{
            height: 13.9rem !important;
            @media (max-width: 641px) {
                height: 10.25rem !important;
            }
            @media (min-width: 641px) {
                width: 100% !important;
            }
            border: none;
            border-radius: 0;
            font-size: $f16 !important;
            font-weight: 400;
            line-height: 1 !important;
            background-color: $text-white;
            padding: 1.4rem 1.8rem !important;
            @media (max-width: 641px) {
                padding: .8rem 1rem !important;
            }
            margin-bottom: 1.2rem;
            outline: none;
			&::placeholder{
                color: $color-grey;
            }
            &:focus{
                color: $color-black;
            }
        }
        span{
            font-weight: 700;
            font-size: $f18;
            color: $text-white;
            font-family: 'usual';
            position: absolute;
            right: 0;
            bottom: -5rem;
            @media (max-width: 641px) {
                bottom: -3.8rem;
            }
        }
        .gform_wrapper {
            margin: 0;
            .top_label div.ginput_container {
                margin-top: 0;
            }
            li.hidden_label input {
                margin-top: 0;
            }
            .gform_footer {
                padding: 0 0 0 !important;
                margin: 0 0 .8rem !important;
            }
            ul.gform_fields li.gfield {
                padding-right: 0;
                margin-top: 0;
            } 
            .gfield_required {
                color: $color-black;
            }
            .gform_footer input[type=submit] {
                margin: 2rem 0 0 0;
                @media (max-width: 641px) {
                    margin: 1.6rem 0 0 0;
                }
                float: right;
            }
        }
        .gform_wrapper.gform_validation_error {
            div.validation_error {
                color: $primary;
                border: none;
                display: none;
            }
            .gfield_error .gfield_label {
                color: $color-black;
            }
            li.gfield.gfield_error, li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
                background-color: unset;
                border: none;
            }
            li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), li.gfield_error textarea {
                border: none;
            }
            .validation_message {
                color: $primary;
            }
            li.gfield.gfield_error {
                padding-top: 0;
            }
            ul.gform_fields li.gfield.gfield_error+li.gfield.gfield_error {
                margin-top: 0;
            }
            textarea{
                height: 18.5rem !important;
                @media (max-width: 641px) {
                    height: 20.5rem !important;
                }
            }
        }
    }
}
@media (min-width: 641px) {
    .form{
        &__content {
            .gform_wrapper{
                .gf_left_half.gfield input[type=text], .gf_right_half.gfield input[type=text]{
                    width: 100% !important;
                }
                li#field_1_2 {
                    display: block;
                }
                .gf_left_half.gfield{
                    padding-right: 1.7rem !important;
                }
                .gf_right_half.gfield{
                    padding-left: 1.7rem !important;
                }
                .gf_right_half.gfield{
                    position: absolute;
                    top: 0;
                }
            }
            .gform_wrapper.gform_validation_error {
                .top_label li.gfield.gfield_error.gf_left_half, .top_label li.gfield.gfield_error.gf_right_half {
                    max-width: 50%;
                }
            }
        }
    }
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: $color-main;
    border: 1px solid $color-main;
    border-radius: 3px;
    padding: 3px;

    &:focus {
        color: $color-secondary;
    }
}

select {
    border: 1px solid $color-main;
}

textarea {
    width: 100%;
}