button.menu-toggle {
    $icon-line-height:          2px;
    $icon-line-width:           24px;
    $icon-line-space:           5px;
    $icon-line-border-radius:   0px;

    position: relative;
    z-index: 1;
    display: none;
    align-items: center;
    margin-left: auto;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    border: none;
    height: calc(#{$icon-line-height*3} + #{$icon-line-space*2});
    width: $icon-line-width;

    @include media-breakpoint-down(sm) {
        display: block;
    }

    .bars {
        width: $icon-line-width;
        height: $icon-line-height;
        background-color: $color-main;
        border-radius: $icon-line-border-radius;
        position: absolute;
        display: block;
        top: auto;
        bottom: 0;
        transition-delay: 0.13s;
        transition-timing-function: cubic-bezier(.55,.055,.675,.19);
        transition-duration: 0.13s;
        width: calc(#{$icon-line-width} - 8px);

        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            background-color: $color-main;
            width: $icon-line-width;
            height: $icon-line-height;
            border-radius: $icon-line-border-radius;
        }

        &:before {
            top: calc(#{-$icon-line-height} + #{-$icon-line-space});
            transition: top .12s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);
        }

        &:after {
            top: calc(#{-$icon-line-height*2} + #{-$icon-line-space*2});
            transition: top .2s cubic-bezier(.33333,.66667,.66667,1) .2s,opacity .1s linear;
        }
    }

    .text {
        @include center-absolute-X;
        text-transform: lowercase;
        font-size: 8px;
        font-weight: $font-weight-bold;
        line-height: 1;
        color: $color-main;
        top: 100%;
        margin-top: $icon-line-space;

        .close-text {
            display: none;
        }
        .open-text {
            display: block;
        }
    }

    &[aria-expanded='true'] {
        .bars {
            transition-delay: 0.22s;
            transition-timing-function: cubic-bezier(.215,.61,.355,1);
            transform: translate3d(0,-10px,0) rotate(-45deg);
            width: $icon-line-width;

            &:before {
                transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .16s,transform .13s cubic-bezier(.215,.61,.355,1) .25s;
                transform: rotate(-90deg);
                top: 0;
            }
            &:after {
                transition: top .2s cubic-bezier(.33333,0,.66667,.33333),opacity .1s linear .22s;
                opacity: 0;
                top: 0;
            }
        }

        .text {
            .close-text {
                display: block;
            }
            .open-text {
                display: none;
            }
        }
    }
}

