.col3-grid{
    padding: 1rem 0;    
    @media(min-width:768px){
        padding: 2rem 1rem;
    }
    &__title {
        margin-bottom: 5rem;
    }
    &__p {
        text-align: center;
    }    
    figure {
        text-align: center;
        margin-bottom: 2rem;
    }
    img{
      width: 100%;
      height: auto;
      max-width: 300px;
    }
    h2{
        text-align: center;
    }
    p{
        text-align: center;
        max-width: 350px;
        display: inline-block;
    }
}