.footer {
    color: $color-white;
    background-color: $color-footer;
    a {
        color: $color-white;
        display: block;
        text-align: left;
        :hover {
            text-decoration: underline;
        }
    }
    &__logo {
        margin-top: 2.3rem;
        @media (min-width: 768px) {
            margin: 2.3rem auto .5rem;
        }
        img {
            margin: auto;
            width: 3.8rem;
            height: auto;
        }
    }
    &__nav {
        margin-bottom: 0;
        @media (min-width: 768px) {
            margin-bottom: 2.2rem;
        }
        ul {
            margin-top: 0;
            padding-left: 0;
            @media (min-width: 768px) {
                display: block;
                text-align: center;                
            }
        }
        li {
            list-style: none;
            @media (min-width: 768px) {
                display: inline-block;
            }
        }
        a {
            @media(min-width: 768px){
                margin-right: .75rem;
                margin-left: .75rem;
            }
            font-size: 1rem;
            line-height: 1.63;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    hr {
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
    &__social {
        display: flex;
        @media (min-width: 768px) {
            justify-content: flex-end;
        }
        a {
            color: $text-white;
            margin-left: 1rem;
            background-color: rgba(255, 255, 255, 0.1);
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 100%;
            i{
                display: flex;
                justify-content: center;
                margin: 0.4rem;         
                &:hover{
                    text-decoration: none;
                }      
            }
            &:hover{
                text-decoration: none;
            }
        }
    }
    &__p-copy-rights{
        p{
            margin-left: 0;
            font-size: $f14;
            line-height: 1.71;
        }
    }   
}