.form{
    background-color: $color-green;
    padding: 2rem 0;
    @media(min-width:992px){
        padding: 9.1rem 0 5.2rem;
    }
   
    p{
        font-size: $f18;
        line-height: 1.8;
    }

    .__text{
        width: 100%;
        font-size: $f14;
        line-height: 1.7;
        padding: 0.8rem 0.8rem 0.8rem 1rem;
        border-radius: 5px;
        border-color: transparent; 
        margin-bottom: 1.1rem;       
    }
    .__ach-btn{
        background-color: $text-black;
        padding: .8rem 1.5rem;
        color: $text-white;
        border-radius: 5px;
        border-color: transparent;  
        display: flex;
        justify-content: end;
        float: none;
        transition: 0.5s;
        @media(min-width:992px){
            float: right;
        }
        &:hover{
            background-color: $text-white;
            color: $text-black;            
        }
    }
     
}
