.home {
    .header {
        .navbar-nav {
            .nav-link {
                color: $text-black;
            }
        }
        @media (min-width: 768px) {
            padding-bottom: 0;
            position: absolute;
        }
        // .logo-black {
        //     display: none;
        // }
        // .logo-white {
        //     display: inline-block;
        // }

    }
}
.header {
    width: 100%;
    z-index: 100;
    // background: $text-white;
    background: transparent;
    background: white;;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    
    &__fixed-header{
        position: fixed;
        background-color: $text-white;
        padding-bottom: 0;        
        box-shadow: 0 3px 5px rgba(24, 25, 31, 0.3);
        
    }
    

    .logo-white {
        display: none;
    }
    @media (max-width: 767px) {
        position: fixed;
        top: 0;
    }
    @media (min-width: 768px) {
        // padding-bottom: 4rem;
        // padding-bottom: 1.4rem;
    }
    &.scroll-active {
        @media (max-width: 767px) {
            // background: rgba(13, 51, 70, 0.74);
            background: rgba(140, 48, 245, 0.9);
            .navbar-brand {
                img {
                    @include transition(0.3s ease-in-out);
                    width: 4rem;
                }
            }
            .header__wrapper.active {
                // background: rgba(13, 51, 70, 0.74);
                background: rgba(140, 48, 245, 0.9);
            }
        }
    }
    .mobile-link {
        @media (min-width: 768px) {
            display: none;
            display: none;
        }
    }
    &__wrapper {
        
        @media(min-width:768px){
            background-color: transparent;
        }
        // background-color: $text-white;
        
        &.active {
            background-color: $primary;
            // background-color: $text-white;
        }
        
    }
    &__contact-btn {
        padding-left: 4rem;
        display: none;
        @media (min-width: 768px) {
            display: inline-block;
            padding-right: 3.1rem;
        }
        &--mobile {
            display: inline-block;
            padding-left: 0;
            // padding-right: 1rem;
            // position: absolute;
            // right: 6rem;
            @media (min-width: 768px) {
                display: none;
            }
        }
        a {
            display: inline-block;
            background: $primary;
            border-radius: 100%;
            width: 3rem;
            height: 3rem;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            position: fixed;
            z-index: 10;
            color: $text-black;
        }
    }
    .navbar {
        padding-left: 0;
        padding-right: 0;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 1rem;
        
        @media (min-width: 768px) {
            padding-top: 0;
        }
    }
    &__socialul{
        min-height: 100vh;        
        @media(min-width:576px){
            min-height: auto;
        }
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        i{
            background-color:rgba(255, 255, 255, 0.1)
        }
    }
    .navbar-nav {
        // padding: 5rem 0;
        padding: 0.5rem 1rem;
        @media (min-width: 768px) {
            padding: 0;
        }
        .nav-item{
            padding-top: 2px;
            padding-right: 2rem;
        }
        .nav-link {
            font-size: $f23;
            // font-family:"quasimoda";
            font-weight: 500;
            color: $text-white !important;
            position: relative;
            padding-bottom: 0.5rem;            
            @media(min-width:768px){
                color: $text-black !important;
            }
            i {
                background-color: rgba(11, 13, 23, 0.1);
                height: 2.5rem;
                width: 2.5rem;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                @media(min-width:768px){
                    height: 2rem;
                    width: 2rem;
                }
            }

            @media (min-width: 768px) {
                // font-family:"usual";
                // padding-left: 4rem;                
                color: $text-black;
                font-size: $f16;
                line-height: 1.5;
                padding-bottom: 0;


            }

            &:hover,
            &:focus {
                color: $primary;
            }
            @media (max-width: 765px) {
                &::after {
                    content: "";
                    display: inline-block;
                    width: 2.5rem;
                    height: 2.4rem;
                    vertical-align: bottom;
                    background: url(assets/images/arrow-small-bold.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-left: 0.5rem;
                    position: absolute;
                    right: 0px;
                    top: 0;
                }
            }
        }
        &__social-media {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            list-style: none;
            width: 100%;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-bottom: 3rem;
        }
    }
    .navbar-collapse {
        // align-items: flex-start;
        align-items: center;
        
        @media(min-width:768px){
            background-color: transparent;
        }
        
    }
    @media screen and (max-width: 992px) {
        .navbar-toggler {
            height: 45px;
            border: none;
            padding: 0;
            
        }
        .navbar-toggler span {
            display: block;
            background-color: $color-black;
            height: 3px;
            width: 30px;
            margin-top: 0;
            margin-bottom: 6px;
            @include transform(rotate(0deg));
            position: relative;
            opacity: 1;
        }
        .navbar-toggler span:nth-child(1),
        .navbar-toggler span:nth-child(3) {
            @include transition(transform 0.35s ease-in-out);
        }
        .active span:nth-child(1) {
            position: absolute;
            top: 32px;
            @include transform(rotate(135deg));
            opacity: 0.9;
        }
        .active span:nth-child(2) {
            visibility: hidden;
            background-color: transparent;
        }
        .active span:nth-child(3) {
            position: absolute;
            top: 32px;
            @include transform(rotate(-135deg));
            opacity: 0.9;
        }
    }
    .navbar-brand {
        img {
            width: 3.5rem;
            position: absolute;
            top: 0.5rem;
            right: 0;
            @media(min-width: 768px){
                position: initial;
                width: 5rem;
                position: relative;
                right: 70%;
                top: 0;
            }
        }
        &--img-lg-screens{
            display: none;
            @media(min-width:768px){
                display: flex;
            }
        }
    }
}
.header {
    &__social {
        display: flex;
        // justify-content: flex-start;
        @media (min-width: 768px) {
            justify-content: flex-end;
        }

        a {
            display: block;
            color: $text-white;
            margin-left: 1rem;
            width: 2rem;
            height: 2rem;
            border-radius: 100%;
        }
    }
}
.home .header{
    background: transparent;
}