.hero-home {
    position: relative;
    @media(min-width:768px){
        min-height: 100vh;
    }
    h1 {
        margin-top: 4rem;
        @media (min-width: 768px) {
            margin-top: 7rem;
            position: absolute;
            z-index: 1;            
        }
    }
    figure {
        margin-bottom: 2rem;
        @media (min-width: 768px) {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
