.news{
    background-color: $color-light-green;
    padding: 2rem 0;
    margin-top: 2rem;
    @media(min-width: 768px){
        padding: 5rem 0 3rem;
    }

    &__mainh2{ 
        margin: auto auto .8rem; 
        @media(min-width:768px){
            margin-bottom: 2.5rem;
        }
    }
    figure a {
        display: block;
    }
    img{
        width: 100%;
        border-radius: 8px;   
        height: auto;       
    }
    h3 {
        margin-top: 1.5rem;
        
    }
    &__permalink{
        color: $color-black;
        display: block;
        margin-top: .5rem;
        font-weight: bold;
        text-decoration: underline;
        &:hover{
            color: $color-black;
            text-decoration: underline;
        }
    }
}