.text{
    
    position: relative;
    &__wrapper{
        background-color: $color-main;
        padding-top: 1rem;
        
        @media(min-width:992px){
            padding: 4rem;
            margin-top: 26%;
            margin-bottom: 5rem;             
            position: relative; 
            z-index: 1;           
            top: 0;  
            bottom: 0; 
            border-radius: 5px;  
        }     
    }
    h1{
        margin-bottom: 1rem;
    }
    a{
        color:$text-black;
        font-style: italic;
    }

    @media(min-width:992px){
        min-height: 100vh;   
      }
        
    
      figure {
        position: relative;
        width: 100%;        
        @media(min-width:992px){
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 10%;
        }
    
        img {
          width: 100%;          
          object-fit: cover;
          @media(min-width:992px){
            height: 75vh;
          }
        }
      }
}